/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to right, #fff1b3, #ffdac9, #ffbbe8);
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Poppins", sans-serif;
}

.navbar-toggler {
  display: block;
  cursor: pointer;
  padding: 0.25rem 0;
}

.navbar-toggler > span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: rgb(9, 9, 9);
  transition: all 0.3s ease;
}

.call-icon {
  border: 2px solid black;
  border-radius: 100%;
  padding: 2px;
  font-size: 16px;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  background-color: #ff7171;
  z-index: 5;
  min-height: 46px;
}

.navbar-toggler {
  flex-basis: 10%;
}

.navbar-toggler.active-nav > span:first-of-type {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.navbar-toggler.active-nav span:nth-of-type(2) {
  opacity: 0;
}
.navbar-toggler.active-nav span:last-of-type {
  transform: rotate(45deg) translate(-5px, -6px);
}

.navbar-icons {
  flex-basis: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.navbar-links {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  position: fixed;
  top: 44px;
  right: -200vw;
  overflow-x: hidden;
  bottom: 0;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}
.navbar.active .navbar-links {
  left: 0;
  right: 0;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.navbar-link {
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;

  font-weight: 400;
  letter-spacing: 3px;

  color: #000;
  /* font-family: Inter; */
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
main {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
}

.navbar-icons {
  display: none;
}
.navbar-toggler#navbarToggler {
  position: absolute;
  right: 10px;
}
main .left h2 {
  color: #191919;
  /* font-family: Inter; */
  font-family: "Poppins", sans-serif;
  font-size: 37.091px;
  font-size: 35px;
  letter-spacing: 6px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
main .left p {
  color: #191919;
  /* font-family: Inter; */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-block: 50px;
}
main .left button {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #ff7171;
  outline: none;
  border: none;
  cursor: pointer;
}
.right {
  max-width: 100%;
}

.right img {
  width: 100%;
  object-fit: fill;
}
main .left {
  padding-block: 70px;
  padding-inline: 10px;
}
main .left.first-main {
  padding-inline: 10px;
}

main.second {
  display: flex;
  flex-direction: column;
}
.second .left {
  display: grid;
  /* grid-template-columns: 50% 50%; */
  gap: 10px;
  row-gap: 5px;
  width: 50%;
  justify-content: center;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
}

main.second .right {
  display: flex;
  width: 50%;

  align-items: center;
  width: 100%;
  justify-content: center;
}
main.second .right .inner-div {
  background-color: #ff7171;
  padding: 1.5rem;
  margin-inline: 10px;
  margin-bottom: 10px;

  width: 100%;
}
main.second .right .inner-div p {
  letter-spacing: 10px;
  font-size: 44px;
  font-weight: bolder;
  letter-spacing: 10px;
  font-size: 25px;
}

main.second .right .inner-div h2 {
  font-size: 16px;
  padding-bottom: 20px;
}
main.second .right .inner-div button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 2px;
  padding-top: 20px;
}
main.second .right .inner-div button img {
  transform: scale(0.7);
}
main.second .left .first,
main.second .left .second,
main.second .left .third {
  width: 100%;
  height: 100%;
}
main.second .left .first,
main.second .left .third {
  width: 100%;
  height: 230px;
}
.box-image {
  width: 100%;
  height: 100%;
}
#box2 {
  grid-area: 1/2/3/4;
  width: 100%;
}

.second .right h2 {
  color: #191919;
  /* font-family: Inter; */
  font-family: "Poppins", sans-serif;
  font-size: 12.83px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.second .right p {
  color: #191919;
  /* font-family: Inter; */
  font-family: "Poppins", sans-serif;
  font-size: 37.091px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
main .right.first {
  margin-inline: 10px;
}
@media (min-width: 640px) {
  main .left button {
    width: 200px;
  }
  main .left {
    padding-block: 100px;
  }
  main.second .right .inner-div p {
    letter-spacing: 10px;
    font-size: 42px;
    font-weight: bolder;
    letter-spacing: 10px;
  }
  main .left h2 {
    font-size: 45px;
  }
  main.second .left .first,
  main.second .left .third {
    width: 100%;
    height: 230px;
  }
  main.second .left .second {
    height: 470px;
  }
  .second .left {
    column-gap: 20px;
    row-gap: 10px;
  }
  main .right.first {
    margin-inline: 0px;
  }
}

@media (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
  main .left.first-main {
    padding-inline: 80px;
  }
  .second.box-image {
    max-height: 495px;
  }
  main.second .right .inner-div p {
    font-size: 47px;
    font-weight: 700;
  }
  main {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 46px);
  }
  main.second .right.second {
    justify-content: left;
  }
  main.second {
    display: flex;
    flex-direction: row;
  }
  .right {
    min-width: 50%;
  }
  .right img {
    width: 100%;
    height: 100%;
  }
  main .left {
    padding-inline: 50px;
  }
  main.second .right .inner-div {
    width: fit-content;
  }
  main.second .left {
    padding-left: 80px;
  }
  main.second .left .second.box-image {
    height: 100%;
  }
  main.second .left .second.box-image img {
    height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .navbar-toggler {
    visibility: hidden;
  }

  .navbar {
    justify-content: center;
  }

  .navbar-links {
    flex-basis: calc(80% - 2rem);
    flex-direction: row;
    position: static;
    overflow-x: visible;
    padding: 0;
  }
  .navbar-icons {
    display: block;
  }
}
